.DS_Store
xcuserdata/
/config/
*.xcresult
.vendor
.bundle

### Mockingbird entries 

# Generated
*.generated.swift

# Binaries
Pods/MockingbirdFramework/mockingbird/bin/

# Caches
**/*.xcodeproj/MockingbirdCache/

.vscode/

### graphql codegen
node_modules/
introspection.json
