.DS_Store
xcuserdata/
/config/
*.xcresult
.vendor
.bundle

# Binaries
Pods/MockingbirdFramework/mockingbird/bin/

# Caches
**/*.xcodeproj/MockingbirdCache/

.vscode/

### graphql codegen
node_modules/
introspection.json
.build
.swiftpm
.mockingbird
config

.jazzy.yaml
